.sign-in{
    display: flex;
    flex-direction: column;
    width: 380px;
    h2{
        margin: 10px 0;
    }
    .form__buttons{
        display: flex;
        justify-content: space-between;
    }
    form{
        margin-top: 10px
    }
}